@charset "UTF-8";
.button {
    -fx-background-color: yellow;     
    -fx-background-radius: 4, 3;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.55) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: derive(master-color, -60%);
    -fx-padding: 3 11 3 11;
}